@import '~antd/dist/antd.css';
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #888585;
  line-height: 24px;
  background-color: #292727;
}
.App {
  text-align: center;
}
.pokemonSearch {
  background-color: #3c3838;
  padding: 24px;
  min-height: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.search-form{
  display: flex;
  max-width: 65%;
  margin: 0 auto;
  width: 100%;
}
.search-form img {
  width: 80px;
  height: 70px;
}
.search-form .ant-col:first-child {
  width: 100%;
}
.search-form .ant-col:last-child {
  width: 150px;
}
.search-form .ant-col:first-child input {
  border: none;
}
.search-form .ant-col:first-child input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.search-form .ant-col:first-child p{
  text-align: left;
  font-size: 16px;
  color: #888585;
  padding: 10px 0 0 20px;
  margin: 0;
  font-weight: 300;
}
.search-form .ant-col:first-child input:focus{
  background-color: #fff;
  color: #696565;
}
.pokemonSearch .searchInput {
  background-color: #696565;
  color: #f2e9e1;
  min-height: 60px;
  border-radius: 30px;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: 300;
}
.pokemonTitle {
  margin-top: 20px;
  color: #fef201;
}
.gutter-row {
  padding: 12px;
}
.pokemonList{
  display: flex;
  max-width: 82%;
  margin: 0 auto;
  padding: 20px 0px;
  justify-content: center;
}
.pokemonList .ant-col {
  width: auto;
  max-width: initial;
}
/* .pokemonList .ant-card {
  background-color: #ea7e54;
  border: none;
} */
.pokemonList .ant-card-bordered {
  border-radius: 6px;
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pokemonList .ant-card-bordered:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
  border-color: #fff;
}
.ant-card-meta-title{
  font-weight: 900;
  font-size: 14px;
}
.ant-card-meta-title ~.ant-card-meta-description{
  font-size: 12px;
}

.card-img-top {
  width: 5em;
  height: 5em;
  display: inline-block;
}
.ant-progress-bg {
  background-color: #6d8418;
}
.ant-layout {
  padding: 50px;
  background: #292727;
  justify-content: center;
}
.ant-layout .ant-layout-content {
  background: #f0f2f5;
}
.dividerTitle {
  color: #f2e9e1;
}
.divider.ant-divider.ant-divider-horizontal {
  background: #696565
}
.pokemonType {
  margin-top: 30px;
}
.moveGrid .ant-card {
  border: 1px solid #e2d9d9;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.14);
}
.menuPokemonTitle {
  font-size: 16px;
}
.pokemonDetailContent {
  padding: 0 24px;
  min-height: 480px;
  max-width: 800px;
}